body
{
	margin:0px;
}
#container
{
	width:1010px;
	margin:0px auto;
}
#header
{
	width:1006px;
	height:150px;
	background-color:white;
	border:solid 2px brown;
	color:white;
	margin:0px auto;
}
#logo
{
	width:340px;
	background-color:white;
	float:left;
	height: 150px;
}
#contact_section
{
	width:660px;
	background-color:white;
	float:left;
	min-height:150px;
	margin:0px auto;
}
#phone_number
{
	width:330px;
	height: 150px;
	background-color:white;
	font-size: 22px;
	float:left;
	position: relative;
	left: 10%;
}
#phone_number a
{
	position:relative;
	left: 26%;
	color:brown;
	top:40%;
}
#mail
{
	width:330px;
	background-color:white;
	float:right;
	height: 150px;
}
#mail a
{
	position:relative;
	left: 26%;
	color:brown;
	top:40%;
}
#nav
{
	width:1006px;
	height:30px;
	background-color:brown;
	border:solid 2px brown;
	color:white;
}
#nav2
{
	width:1006px;
	height:30px;
	background-color:rgb(128,128,0);
	border-top:solid 2px brown;
	border-left:solid 2px brown;
	border-right:solid 2px brown;
	color:white;
}
#slider
{
	width:1006px;
	height:400px;
	background-color:white;
	border-top:solid 2px brown;
	border-bottom:solid 2px brown;
	border-left:solid 2px brown;
	border-right:solid 2px brown;
	color:white;
	margin: 0px auto;
}
#sidebar
{
	width:240px;
	background:white;
	border-left:solid 2px brown;
	border-bottom:solid 2px brown;
	float:left;
	display:block;
	height: 450px;
}
#main
{
	width:764px;
	height: 450px;
	border-right:solid 2px brown;
	border-left:solid 2px brown;
	border-bottom:solid 2px brown;
	float:left;
	overflow:auto;
}
#footer
{
	text-align:center;
	color:#cfe5d0;
	width:1006px;
	height:250px;
	background-color:brown;
	border-bottom:solid 2px brown;
	border-left:solid 2px brown;
	border-right:solid 2px brown;
	margin:0px auto;
	overflow: auto;
}
#Persianwisdom
{
	width:253px;
	height:230px;
	background-color:brown;
	float: left;
}
#Explore
{
	width:251px;
	height:230px;
	background-color:brown;
	float: left;
}
#Visit
{
	width:251px;
	height:230px;
	background-color:brown;
	float: left;
}
#Follow
{
	width:251px;
	height:230px;
	background-color:brown;
	float: left;
}
#copyright
{
	width:1006px;
	height:18px;
	background-color:brown;
	float: left;
}
.myslides
{
	width:1006px;
	height:400px;
}
#nav ul
{
text-align:right;
background-color:brown;
margin:0px;
}
.footer_menu ul
{
text-align:center;
background-color:brown;
margin:0px;
}
#nav ul li
{
list-style:none;
padding:10px;
display:inline;
font-size:13px;
font-weight:bold;
line-height:10px;
}
.footer_menu ul li
{
list-style:none;
padding:10px;
display: block;
font-size:13px;
font-weight:bold;
line-height:10px;
}
.menu ul li a
{
text-decoration:none;
color:#FFF;
background-color:brown;
}

.menu ul li a:hover
{
background-color:green;
color:#000;
}
#nav2 ul
{
text-align:left;
background-color:rgb(128,128,0);
margin:2px;
}
#nav2 ul li
{
list-style:none;
padding:10px;
display:inline;
font-size:13px;
font-weight:bold;
line-height:10px;
}
#nav2 ul li a
{
text-decoration:none;
color:#FFF;
background-color:rgb(128,128,0);
}

#nav2 ul li a:hover
{
background-color:rgb(128,128,0);
color:#000;
}
#nav ul li.login
{
padding:15px;
display:inline;
font-size:15px;
font-weight:bold;
line-height:10px;
}
p
{
padding:15px;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
	position: relative;
  margin: 0px auto;
}

/* Hide the images by default */
.mySlider {
  display: none;
}
.slidetoshow{
	display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
