<html>
<head> <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/stylesheet.css') }}"> </head>
<body>
       <div id="container">

	         <div id="header">
                <a href="home.html"> <img src="logo.png" width="1006" height="130"> </a>
			 </div>
			  <div id="nav">
			  <ul>
				<li> <a href="file:///C:/Users/Azhad%20Ghufran/OneDrive/Azhad1/Website/redwoodfinancial/home.html" name=""> Home </a> </li>
				<li> <a href="file:///C:/Users/Azhad%20Ghufran/OneDrive/Azhad1/Website/redwoodfinancial/aboutus.html" name=""> About us </a>  </li>
				<li> <a href="file:///C:/Users/Azhad%20Ghufran/OneDrive/Azhad1/Website/redwoodfinancial/services.html" name=""> Services </a> </li>
				<li> <a href="" name=""> Career</a> </li>
				<li> <a href="" name=""> Blog </a> </li>
				<li> <a href="file:///C:/Users/Azhad%20Ghufran/OneDrive/Azhad1/Website/redwoodfinancial/contact.html" name=""> Contact </a> </li>
				<li class="login"> <a href="https://redwoodfinancial.wealthmagic.in/" name=""> PORTFOLIO LOGIN </a> </li>
                </ul>
			 </div>
			 <div id="nav2">
			 <ul>
			<li> <a href="" name=""> EQUITY </a> </li>
				<li> <a href="" name=""> MUTAL FUNDS </a> </li>
				<li> <a href="" name=""> FINANCIAL PLANNING </a> </li>
				<li> <a href="" name=""> TAXATION </a> </li>
				<li> <a href="" name=""> FIXED SAVINGS </a> </li>
				<li> <a href="" name=""> INSURENCE </a> </li>
				</ul>
			 </div>
			  <div id="sidebar">
			  <h2 style="padding:5px"> FIND US </h2>
			  <p> <b>Address:  304,3rd Floor</br> Building No-14 Veer Savarkar </br> Block, Shakarpur, Delhi-110092 </br></br>

Telephone: 011-42487649 </br>, 011-43093636 , #9899414939</br></br>

Email:  info@redwoodfinancial.in </br> </br>

Hours </br>
Monday—Friday: 9:00AM–5:00PM</br>
Saturday: 11:00AM–3:00PM </b> </p>
			 </div>
			 <div id="main">
			 <p> <b>Address:  304,3rd Floor Building No-14 Veer Savarkar Block, Shakarpur, Delhi-110092</br></br>

                 Telephone: 011-42487649 , 011-43093636 , #9899414939</br></br>

				Email: mutualfund@redwoodfinancial.in </b></p>

				<h2 style="padding:15px"> IF YOU PREFER, YOU CAN CONTACT US USING THE FORM BELOW.<h2></br>
	         </div>
			 <div id="footer">
			 &copy; 2017 RedwoodFinancial.in All rights reserved.
			 </div>
	   </div>

</body>
</html>
