<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/stylesheet.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="{{ url_for('static',filename='js/index.js') }}"> </script>
 </head>
<body>
       <div id="container">

	         <div id="header">
           <div id="logo">
             <a href="home.html"> <img src="{{ url_for('static',filename='img/logo.png') }}" width="340px" height="150px"> </a>
           </div>
           <div id="contact_section">
              <div id="phone_number"> <i class="fa fa-phone" style="font-size:24px;color:brown;position:relative;left:25%;top:40%"></i> <a href="tel:+919953836576">9953836576</a></div>
              <div id="mail"> <i class="fa fa-envelope" style="font-size:24px;color:brown;position:relative;left:25%;top:40%"></i> <a href="mailto:mehsharkamal@gmail.com">mehsharkamal@gmail.com</a></div>
           </div>
     </div>
     <div id="nav" class="menu">
     <ul>
     <li> <a href="index.html" name=""> HOME </a> </li>
     <li> <a href="about.html" name=""> ABOUT US </a>  </li>
     <li> <a href="focus.html" name=""> FOCUS AND SCOPE </a> </li>
     <li> <a href="" name=""> CURRENT</a> </li>
     <li> <a href="" name=""> ARCHIVES </a> </li>
     <li> <a href="" name=""> EDITORIAL TEAM </a> </li>
     <li> <a href="contact.html" name=""> CONTACT </a> </li>
             </ul>
    </div>
			 <div id="nav2">
			 <ul>
			<li> <a href= "author"  name=""> AUTHOR GUIDE AND SUBMISSION </a> </li>
				<li> <a href="" name="">  REVIEWER GUIDELINES </a> </li>
				<li> <a href="" name=""> CODE OF CONDUCT </a> </li>
				<li> <a href="" name="">  ABSTRACTING AND INDEXING </a> </li>
        <li> <a href="" name="">  BLOG </a> </li>
				</ul>
			 </div>
			  <div id="sidebar">
			  <h2 style="padding:5px"> ARCHIVES </h2>
			 </div>
			 <div id="main" style="background-color:white">
			  <H3 style="text-align: center"> FOCUS AND SCOPE</H3>
<p style="padding:10px">The Persian Wisdom is an international, peer-reviewed, open-access e-journal published on a
quarterly basis. The Journal focuses on studies in Persianate societies, culture and history and aims
to publish research articles that explore the topic from a broad array of Persianate world. The
editors particularly encourage submissions of research papers that discuss and touch upon any
areas that have direct or indirect link to the Persian sources. The journal aims to reach a wide
international audience and encourages contributors from different fields of higher education to
submit work for publication. The editors also welcome suggestions for special issues on particular
topics as well as contributions in the form of book reviews.</br></br>
The journal is multidisciplinary and bilingual and invites scholars from relevant disciplines
including Persian, history, linguistics, sociology, and culture studies and all areas of educational
research having primary sources in Persian language. The Persian Wisdom quarterly journal
welcomes papers from all prospective authors.</p>
               </div>
			 <div id="footer">
         <div id="Persianwisdom"> <H2> Persianwisdom </H2> </div>
         <div id="Explore" class="menu footer_menu">
           <H4> Explore </H4>
             <ul>
      			  <li> <a href="" name=""> HOME </a> </li>
      				<li> <a href="" name="">  ABOUT </a> </li>
      				<li> <a href="" name=""> CONTACT </a> </li>
              <li> <a href="" name="">  BLOG </a> </li>
  				  </ul>
        </div>
         <div id="Visit">
           <H4> Visit </H4>
             <p> Old Foreign Language Building EFL University, </br> Hyderabad 500007 </p>
         </div>
         <div id="Follow" class="menu footer_menu">
           <H4> Follow </H4>
             <ul>
             <li> <a href="" name=""> FACEBOOK </a> </li>
             <li> <a href="" name="">  TWITTER </a> </li>
             <li> <a href="" name=""> INSTAGRAM </a> </li>
           </ul>
         </div>
         <div id="copyright"> &copy; 2020 Persianwisdom.in All rights reserved. </div>
			 </div>
	   </div>

</body>
</html>
